img {
  max-width: 300px;
}

.adoptionWindow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 2px solid green;
  margin-right: 30%;
}

.adoptThis {
  list-style: none;
  margin: 20px;
}

.petColumns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.people-container {
  position: fixed;
  right: 0;
  top: 0;
  width: 30%;
}